.uchastky {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vw;
}
.uchastky_item {
    width: 15vw;
    background: #f1f1f1;
    border-radius: 10px;
    padding:1.2vw;
}
.uchastky_item h2 {
    text-align: center;
    font-size: 2.5vw; 
}
.uchastky_item h6 {
    font-weight: bold;
    text-align: center;
    font-size: 2.3vw;
    color: red;
    margin-top: 5vw;
    transform: rotate(-15deg);
}
.uchastky_item p {
    font-size: 1.4vw;
    text-align: center;
    margin: 2vw .2vw;
}
.uchastky_item a {
    font-size: 1.3vw;
    display: block;
    text-align: center;
    color: #838383;
}
